# correct and incorrect sentences

==========
## collecting and making dataset
==========

In [73]:
import pandas as pd
data_web = pd.read_html('https://www.engvid.com/english-resource/50-common-grammar-mistakes-in-english/')
data_web

[       0                                           1
 0  Wrong  I have visited Niagara Falls last weekend.
 1  Right       I visited Niagara Falls last weekend.,
        0                                          1
 0  Wrong  The woman which works here is from Japan.
 1  Right    The woman who works here is from Japan.,
        0                              1
 0  Wrong  She’s married with a dentist.
 1  Right    She’s married to a dentist.,
        0                             1
 0  Wrong  She was boring in the class.
 1  Right   She was bored in the class.,
        0                                1
 0  Wrong  I must to call him immediately.
 1  Right     I must call him immediately.,
        0                                 1
 0  Wrong  Every students like the teacher.
 1  Right  Every student likes the teacher.,
        0                                                1
 0  Wrong  Although it was raining, but we had the picnic.
 1  Right      Although it was raining, we had the picnic.,
        0                          1
 0  Wrong  I enjoyed from the movie.
 1  Right       I enjoyed the movie.,
        0                               1
 0  Wrong     I look forward to meet you.
 1  Right  I look forward to meeting you.,
        0                            1
 0  Wrong  I like very much ice cream.
 1  Right  I like ice cream very much.,
        0                  1
 0  Wrong  She can to drive.
 1  Right     She can drive.,
        0                         1
 0  Wrong  Where I can find a bank?
 1  Right  Where can I find a bank?,
        0                             1
 0  Wrong      I live in United States.
 1  Right  I live in the United States.,
        0                                     1
 0  Wrong  When I will arrive, I will call you.
 1  Right       When I arrive, I will call you.,
        0                                   1
 0  Wrong  I’ve been here since three months.
 1  Right    I’ve been here for three months.,
        0                                                  1
 0  Wrong                   My boyfriend has got a new work.
 1  Right  My boyfriend has got a new job. (or just "has ...,
        0                          1
 0  Wrong     She doesn’t listen me.
 1  Right  She doesn’t listen to me.,
        0                        1
 0  Wrong  You speak English good.
 1  Right  You speak English well.,
        0                       1
 0  Wrong   The police is coming.
 1  Right  The police are coming.,
        0                            1
 0  Wrong  The house isn’t enough big.
 1  Right  The house isn’t big enough.,
        0                         1
 0  Wrong  You should not to smoke.
 1  Right     You should not smoke.,
        0                                1
 0  Wrong     Do you like a glass of wine?
 1  Right  Would you like a glass of wine?,
        0                                    1
 0  Wrong   There is seven girls in the class.
 1  Right  There are seven girls in the class.,
        0                       1
 0  Wrong   I didn’t meet nobody.
 1  Right  I didn’t meet anybody.,
        0                              1
 0  Wrong  My flight departs in 5:00 am.
 1  Right  My flight departs at 5:00 am.,
        0                                   1
 0  Wrong     I promise I call you next week.
 1  Right  I promise I’ll call you next week.,
        0                          1
 0  Wrong      Where is post office?
 1  Right  Where is the post office?,
        0                                                1
 0  Wrong        Please explain me how improve my English.
 1  Right  Please explain to me how to improve my English.,
        0                              1
 0  Wrong  We studied during four hours.
 1  Right     We studied for four hours.,
        0                      1
 0  Wrong  Is ready my passport?
 1  Right  Is my passport ready?,
        0                                  1
 0  Wrong  You cannot buy all what you like!
 1  Right  You cannot buy all that you like!,
        0                   1
 0  Wrong     She is success.
 1  Right  She is successful.,
        0                                    1
 0  Wrong   My mother wanted that I be doctor.
 1  Right  My mother wanted me to be a doctor.,
        0                  1
 0  Wrong  The life is hard!
 1  Right      Life is hard.,
        0                               1
 0  Wrong    How many childrens you have?
 1  Right  How many children do you have?,
        0                              1
 0  Wrong       My brother has 10 years.
 1  Right  My brother is 10 (years old).,
        0                   1
 0  Wrong     I want eat now.
 1  Right  I want to eat now.,
        0                                     1
 0  Wrong    You are very nice, as your mother.
 1  Right  You are very nice, like your mother.,
        0                                1
 0  Wrong  She said me that she liked you.
 1  Right  She told me that she liked you.,
        0                           1
 0  Wrong        My husband engineer.
 1  Right  My husband is an engineer.,
        0                                      1
 0  Wrong     I came Australia to study English.
 1  Right  I came to Australia to study English.,
        0                    1
 0  Wrong  It is more hot now.
 1  Right     It’s hotter now.,
        0                                  1
 0  Wrong    You can give me an information?
 1  Right  Can you give me some information?,
        0                                   1
 0  Wrong    They cooked the dinner themself.
 1  Right  They cooked the dinner themselves.,
        0                         1
 0  Wrong  Me and Johnny live here.
 1  Right   Johnny and I live here.,
        0                                1
 0  Wrong  I closed very quietly the door.
 1  Right  I closed the door very quietly.,
        0                                 1
 0  Wrong           You like dance with me?
 1  Right  Would you like to dance with me?,
        0                                 1
 0  Wrong  I go always to school by subway.
 1  Right  I always go to school by subway.,
        0                                               1
 0  Wrong  If I will be in London, I will contact to you.
 1  Right          If I am in London, I will contact you.,
        0                          1
 0  Wrong  We drive usually to home.
 1  Right     We usually drive home.]

In [7]:
data_web [0] #table 속에 table -> 이어서 붙여야함, how--> 0 번 필드---, sentence는 sentence단위로
#right가 오른쪽으로 붙고, 0-50번까지 wrong, right column 으로 만들어서
# 문장들에 대해 학습
#ginger it--> 어디가 틀렸는지 말해주는 파트를 ㅎ한 칼럼 더 만들어서 ,sentece 단위로 , 계속 이어 붙이기
# 현재 웹데이터 -->

       0                                           1
0  Wrong  I have visited Niagara Falls last weekend.
1  Right       I visited Niagara Falls last weekend.

In [12]:
for i in range (len(data_web)):
    data_web [i].to_csv(f'./data_web{i}.csv', index= False) #각자 csv저장 #excel file

In [74]:
#이어 붙이기
data_final = data_web [0].copy() #초기화 되어서 계속 concat가능
for i in range (len(data_web)):
    data_final = pd.concat([data_final,data_web[i]]) #data final  초기화 필요

In [75]:
data_final.columns = ['정오','문장']

In [76]:
#reset index
data_final.reset_index(drop=True,inplace = True)

In [16]:
data_final.to_csv('./data_set.csv',index= False)

In [58]:
# 하나씩 문법 분석 및 태그 달기

# 제일 먼저 할 질문--> nltk download->무한 루프 why? and how to solve it

## 질문--> 1. 이렇게 나온 값 (?) 긁어온 text들을 txt 파일로 만드는 방법
        # 2. nltk 라이브러리를 사용할 때 multi line string 이 아니라 파일로 만드는 법
        # 3. 자동화를 위해 두가지 방법 생각 중 
                    #--> 기존에 라이브러리에서 tokenization 사용 및 nlp tagging -> slang/ 일반 언어 구분-> sentences that include slangs 을 학습시키고
                    #slang과 그 의미를 연결하는 dic을 만들어서 아무 random 문장을 줬을 때 슬랭을 구별할 수 있는 방법
                
                    #--> 아에 image mining으로 가서 현미경 이미지 dectecting -> 창의적이지 않고 재미가 없을 것 같아서 고민

In [77]:
pd.read_csv('extra_data.csv')

             0                                           1
0    Incorrect                 I have a good news for you.
1      Correct                    I have good news for you
2    Incorrect         Worry kills more the men than work.
3      Correct             Worry kills more men than work.
4    Incorrect    We learn not at the school, but in life.
..         ...                                         ...
337    Correct      My father will be home this afternoon.
338  Incorrect                        I very love drawing.
339    Correct                   I love drawing very much.
340  Incorrect           What of season do you like best ?
341    Correct             Which season do you like best ?

[342 rows x 2 columns]

In [78]:
import pandas as pd
import os

filePath = './' 
fileAll = os.listdir(filePath)

for file in fileAll:
    rowsize = sum(1 for row in (open(filePath + file, encoding='UTF-8')))
    newsize = 2  # 쪼개고 싶은 행수 수준으로 입력. 이정도 행수는 200mb 이하임.
    times = 0
    for i in range(1, rowsize, newsize):
        times += 1   # 폴더 내 파일을 하나씩 점검하면서, 입력한 newsize보다 넘는 행을 쪼개줌
        df = pd.read_csv(filePath + file, header=None, nrows = newsize, skiprows=i)
        csv_output = file[:-4] + '_' + str(times) + '.csv'   # 쪼갠 수만큼 _1, _2... _n으로 꼬리를 달아서 파일명이 저장됨
        df.to_csv(filePath + csv_output, index=False, header=False, mode='a', chunksize=rowsize)

IsADirectoryError: [Errno 21] Is a directory: './.ipynb_checkpoints'

In [82]:
df= pd.read_csv('./data_set.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: './data_set.csv'

In [83]:
df1 = pd.read_csv('./extra_data.csv')
df1

             0                                           1
0    Incorrect                 I have a good news for you.
1      Correct                    I have good news for you
2    Incorrect         Worry kills more the men than work.
3      Correct             Worry kills more men than work.
4    Incorrect    We learn not at the school, but in life.
..         ...                                         ...
337    Correct      My father will be home this afternoon.
338  Incorrect                        I very love drawing.
339    Correct                   I love drawing very much.
340  Incorrect           What of season do you like best ?
341    Correct             Which season do you like best ?

[342 rows x 2 columns]

In [84]:
df1.columns = ['정오','문장']

In [85]:
df_final_1 = pd.concat([df,df1],axis= False)
df_final_1

,label,sentence,정오,문장
0,Incorrect,I have a good news for you.,NaN,NaN
1,Correct,I have good news for you,NaN,NaN
2,Incorrect,Worry kills more the men than work.,NaN,NaN
3,Correct,Worry kills more men than work.,NaN,NaN
4,Incorrect,"We learn not at the school, but in life.",NaN,NaN
...,...,...,...,...
337,NaN,NaN,Correct,My father will be home this afternoon.
338,NaN,NaN,Incorrect,I very love drawing.
339,NaN,NaN,Correct,I love drawing very much.
340,NaN,NaN,Incorrect,What of season do you like best ?
341,NaN,NaN,Correct,Which season do you like best ?

In [86]:
df_final_1.to_csv('./data_final.csv',index = False)

In [87]:
for i in range(len(df_final_1['정오'])):
    if df_final_1.iloc[i,0] == 'Correct':
        df_final_1.iloc[i,0] = 'Right'
df_final_1

,label,sentence,정오,문장
0,Incorrect,I have a good news for you.,NaN,NaN
1,Right,I have good news for you,NaN,NaN
2,Incorrect,Worry kills more the men than work.,NaN,NaN
3,Right,Worry kills more men than work.,NaN,NaN
4,Incorrect,"We learn not at the school, but in life.",NaN,NaN
...,...,...,...,...
337,NaN,NaN,Correct,My father will be home this afternoon.
338,NaN,NaN,Incorrect,I very love drawing.
339,NaN,NaN,Correct,I love drawing very much.
340,NaN,NaN,Incorrect,What of season do you like best ?
341,NaN,NaN,Correct,Which season do you like best ?

In [88]:
for i in range(len(df_final_1['정오'])):
    if df_final_1.iloc[i,0] == 'Incorrect':
        df_final_1.iloc[i,0] = 'Wrong'
df_final_1

,label,sentence,정오,문장
0,Wrong,I have a good news for you.,NaN,NaN
1,Right,I have good news for you,NaN,NaN
2,Wrong,Worry kills more the men than work.,NaN,NaN
3,Right,Worry kills more men than work.,NaN,NaN
4,Wrong,"We learn not at the school, but in life.",NaN,NaN
...,...,...,...,...
337,NaN,NaN,Correct,My father will be home this afternoon.
338,NaN,NaN,Incorrect,I very love drawing.
339,NaN,NaN,Correct,I love drawing very much.
340,NaN,NaN,Incorrect,What of season do you like best ?
341,NaN,NaN,Correct,Which season do you like best ?

In [89]:
import pandas as pd
df = pd.read_csv ('./extra_data.csv')
df

             0                                           1
0    Incorrect                 I have a good news for you.
1      Correct                    I have good news for you
2    Incorrect         Worry kills more the men than work.
3      Correct             Worry kills more men than work.
4    Incorrect    We learn not at the school, but in life.
..         ...                                         ...
337    Correct      My father will be home this afternoon.
338  Incorrect                        I very love drawing.
339    Correct                   I love drawing very much.
340  Incorrect           What of season do you like best ?
341    Correct             Which season do you like best ?

[342 rows x 2 columns]

In [90]:
df.columns = ['label','sentence']

In [21]:
df

         label                                    sentence
0    Incorrect                 I have a good news for you.
1      Correct                    I have good news for you
2    Incorrect         Worry kills more the men than work.
3      Correct             Worry kills more men than work.
4    Incorrect    We learn not at the school, but in life.
..         ...                                         ...
337    Correct      My father will be home this afternoon.
338  Incorrect                        I very love drawing.
339    Correct                   I love drawing very much.
340  Incorrect           What of season do you like best ?
341    Correct             Which season do you like best ?

[342 rows x 2 columns]

=====
# AI buliding
====

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #ensemble: booasting 데이터 양 들릴데 , randomforest 알고리즘, decision tree보다 뉴런이 많음
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix 
from sklearn.pipeline import Pipeline

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
x_train, x_test, y_train, y_test = train_test_split(df['sentence'],df['label'],test_size=0.3, shuffle=True)

In [33]:
x_train.value_counts()

 Thanks for giving me useful advices.               2
    Is it the rainy season in China?                1
    My watch isn’t running.                         1
  Don’t go in the sun.                              1
  Those who are absent, I shall punish them.        1
                                                   ..
 I forget my hat in the house.                      1
 Don’t step in the grass.                           1
  I’ll date her out this Friday.                    1
    He asked me why I had not gone to the party.    1
  The girl wants to get herself married.            1
Name: sentence, Length: 238, dtype: int64

In [39]:
clf = Pipeline([('tfidf', TfidfVectorizer()), ('rf', RandomForestClassifier(n_estimators=100, n_jobs=1))])

In [41]:
clf.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('rf', RandomForestClassifier(n_jobs=1))])

In [42]:
y_pred = clf.predict(x_test)

In [43]:
confusion_matrix(y_test, y_pred)

array([[10, 45],
       [32, 16]])

In [44]:
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     Correct       0.24      0.18      0.21        55
   Incorrect       0.26      0.33      0.29        48

    accuracy                           0.25       103
   macro avg       0.25      0.26      0.25       103
weighted avg       0.25      0.25      0.25       103

In [46]:
accuracy_score(y_test, y_pred)

0.2524271844660194

In [47]:
clf.predict(['I have a good news for you'])

array(['Incorrect'], dtype=object)

In [48]:
clf.predict(['Worry kills more the men than work'])

array(['Incorrect'], dtype=object)

In [50]:
clf2= Pipeline([('tfidf',TfidfVectorizer()), ('rf', SVC(C= 1000, gamma = 'auto'))])

In [56]:
clf2.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('rf', SVC(C=1000, gamma='auto'))])

In [57]:
y_pred1 = clf2.predict(x_test)

In [58]:
confusion_matrix(y_test,y_pred1)

array([[13, 42],
       [36, 12]])

In [60]:
print (classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

     Correct       0.27      0.24      0.25        55
   Incorrect       0.22      0.25      0.24        48

    accuracy                           0.24       103
   macro avg       0.24      0.24      0.24       103
weighted avg       0.25      0.24      0.24       103

In [61]:
clf2.predict(['I very love drawing.'])

array(['Incorrect'], dtype=object)

In [64]:
clf2.predict(['I love my boyfriend very much.'])

array(['Incorrect'], dtype=object)

In [68]:
import joblib
joblib.dump(clf, './abc.pk1')

['./abc.pk1']

In [70]:
load_model = joblib.load('./최종학습프로그램.pk1')

In [71]:
load_model.predict(['I have a good news for you.'])

array(['Incorrect'], dtype=object)